<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario para crear productos</h1>

    <form method="post" action="/fileSystem" enctype="multipart/form-data">

        <input placeholder="nombre producto" name="name"/>

        <br/><br/>

        <input placeholder="precio producto" name="price"/>

        <br/><br/>

        <input type="file" name="fileImage"/>

        <br/><br/>

        <button type="submit">Crear producto</button>

    </form>
</body>
</html>