<h1>Olvidaste tu Contraseña</h1>

<p>Ingresa tu correo para poder cambiar tu Contraseña</p>
<form method="post" action="forgot-password">
    <input type="email" placeholder="Correo electronico" name="email"/>
    <button>Recibir correo</button>
</form>